#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  margin: 0;
  color: rgba(63, 56, 56, 0.956);
  font-family: 'Castoro Titling', cursive;
  background-color: rgba(223, 223, 223, 0.812) !important;
}

