#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: rgb(224, 224, 224);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  margin: 0;
  color: rgb(41, 41, 41);
}
